/* Global Style */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa;
    color: #333;
}

a {
    text-decoration: none;
}


.container {
    width: 100%;
    min-height: 100vh;
}

.content {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding-bottom: 50px;
}


.header-title {
    margin-bottom: 10px;
    color: #2c3e50;
}



button {
    font-family: 'Poppins', sans-serif;
}

.btn {
    display: inline-block;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    transition: 0.3s;
}

.btn:hover { opacity: 0.9; }

.btn-primary { background-color: #3498db; }
.btn-success { background-color: #2ecc71; }
.btn-danger  { background-color: #e74c3c; }  
.btn-warning { background-color: #f39c12; }  
.btn-secondary { background-color: #95a5a6; } 

.btn-group {
    display: flex;
    gap: 5px;
}

/* Tabel */
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    flex: 1;
    min-width: 250px;
    text-align: center;
    transition: 0.3s;
    color: #2c3e50;
}
.card h3 {
    margin: 0 0 10px;
    
}

.card:hover {
    background-color: #2c3e50;
    color: #fff;
}

.card p {
    color: #7f8c8d;
    margin-bottom: 20px;
}