/* Navbar */
.navbar {
    background-color: #2c3e50;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; /* Menetapkan tinggi tetap navbar agar rapi */
}
/* Bagian Logo */
.brand-logo a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.brand-logo p {
    margin: 0; 
}

.nav-items {
    display: flex;
    align-items: center;
    height: 100%;
}


.nav-links {
    display: flex;
    align-items: center;
    height: 100%;
}


.nav-links a, 
.dropdown-title {
    display: flex;          
    align-items: center;
    height: 100%;           
    padding: 0 20px;
    color: #ecf0f1;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    box-sizing: border-box;
}
.nav-links > div > a {
    display: flex;
    align-items: center;
    height: 60px;
}
.nav-links > div > a:hover, 
.nav-links > a:hover,
.dropdown:hover .dropdown-title {
    background-color: #34495e;
    color: #fff;
}

/* Navbar Dropdown */

.dropdown {
    position: relative;
    display: flex;        
    align-items: center;
    height: 100%;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #34495e;
    top: 60px;
    left: 0; 
    z-index: 1000;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.dropdown-content.right {
    left: auto; 
    right: 0;   
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content a {
    padding: 12px 12px;
    color: #ecf0f1;
    text-decoration: none;
    display: block; 
    height: auto;   
}

.dropdown-content a:hover {
    background-color: #2c3e50; 
}

.logout-btn {
    background-color: #e74c3c;
    color: white;
    text-align: center;
}
.dropdown-content a.logout-btn:hover {
    background-color: #c0392b;
    color: white;
}
.dropdown-title b {
    color: #fff;
    margin-right: 4px;
}