table {
    border: #2b2b2b solid 1px;
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
    background-color: #ffffffff;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    
}

th {
    border: #2b2b2b solid 1px;
    background-color: #2c3e50;
    color: #ffffffff;
    padding: 12px;
    text-align: left;
    font-weight: 600;
}

td {
    border: #2b2b2b solid 1px;
    padding: 10px 12px;
    border-top: 1px solid #cececeff;
    text-align: left;
    color: #333333ff;
}

tr:hover {
    background-color: #f9f9f9;
}