body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF8F5;
    min-height: 100vh;
}
.container {
    width: 100%;

}
.header {
    background-color: #2b2b2b;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    padding: 15px 30px;
}
.header h1 {
    color: #ffffff; 
    margin: 0;
    font-size: 24px;
}

.navbar {
    display: flex;
    padding: 15px;
    gap: 20px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
}
.navbar a:hover {
    text-decoration: underline;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.table-header h2 {
    margin: 0;
    color: #222222ff;
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #ffffffff;
    font-size: 14px;
}
.btn:hover {
    opacity: 0.85;
}
.btn-group a {
    margin-left: 10px;
}
.btn-primary { background-color: #478ECC; }
.btn-secondary { background-color: #617E8C;}
.btn-success { background-color: #8AC44B; }
.btn-danger { background-color: #FF383C; }
.btn-warning { background-color: #F8981D; }

table {
    border: #2b2b2b solid 1px;
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
    background-color: #ffffffff;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    
}
th {
    border: #2b2b2b solid 1px;
    background-color: #F4F7FA;
    color: #333333ff;
    padding: 12px;
    text-align: left;
    font-weight: 600;
}

td {
    border: #2b2b2b solid 1px;
    padding: 10px 12px;
    border-top: 1px solid #cececeff;
    text-align: left;
    color: #333333ff;
}

tr:hover {
    background-color: #f9f9f9;
}