* {
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgb(39, 39, 39);
    div:not(:has(a)) {
        color: white;
        float: left;
        width: 50%;
        padding: 1vh 0vh;
        margin-top: 0.6vh;
        margin-left: 1vh;
    }
    div:has(a) {
        color: white;
        padding: 2vh 0vh;
        text-align: right;
        a {
            margin: 0% 1%;
            text-decoration: none;
            color: white;
            padding: 0.8vh 1vh;
            border-radius: 10px;
            border: 1px solid grey;
        } a:hover {
            background-color: white;
            color: rgb(39, 39, 39);
        }
    }
}
.content {
    .transaksi {
        width: 100%;
        height: 93vh;
        overflow-y: scroll;
        h3 {
            padding: 1vh 0vh;
            margin-left: 1%;
        }
        div {
            height: 5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1vh;
        }
        table {
            margin: auto;
            width: 98%;
            border-collapse: collapse;
            th, td {
                padding: 1vh 0vh;
            }
            th {
                background-color: rgb(97, 252, 213);
            } td {
                border-bottom: 1px solid grey;
            } td:has(a) {
                text-align: center;
            }
        } a {
            text-decoration: none;
            background-color: blueviolet;
            color: white;
            padding: 0.5vh 1vh;
            border-radius: 10px;
        } a:hover {
            box-shadow: 2px 2px 5px grey;
            background-color: gold;
            color: black;
        }
    }
    .report {
        margin-left: 1%;
        margin-right: 1%;
        height: 93vh;
        overflow-y: scroll;
        .canvas-diagram {
            width: 40%;
        }
        @media print {
            body * {
                display: none;  
            } 
            canvas {
                display: block;
            }
        }
        table {
            text-align: center;
            margin: 1vh 0vh;
            width: 100%;
            border-collapse: collapse;
            border: 1px solid rgba(128, 128, 128, 0.466);
            th, td {
                padding: 1vh 0vh;
                border: 1px solid rgba(128, 128, 128, 0.466);
            }            
            th {
                background-color: rgb(81, 166, 216);
            }
        }
        h3 {
            padding: 1vh 0vh;
        }
        div {
            margin: 1vh 0vh;
            .cetak {
                background-color: rgb(228, 228, 37);
                color: black;
                padding: 1vh 2vh;
                border: none;
                border-radius: 10px;
                transition: 0.3s ease-in-out;
                cursor: pointer;
            } .cetak:hover {
                box-shadow: 2px 2px 5px grey;
                transform: translateY(-5%);
            }
            a {
                display: inline-block;
                padding: 1vh 2vh;
                border-radius: 10px;
                text-decoration: none;
                background-color: blueviolet;
                color: white;
                transition: 0.3s ease-in-out;
            } a:hover {
                transform: translateY(-5%);
                box-shadow: 2px 2px 5px grey;
            }
        }
        form {
            margin-top: 1vh;
            display: flex;
            gap: 1%;
            input[type='submit'] {
                background-color: greenyellow;
                transition: 0.2s ease-in-out;
                cursor: pointer;
            } input[type='submit']:hover {
                transform: translateY(-5%);
                background-color: green;
                color: white;
            }
            input {
                border-radius: 10px;
                padding: 1vh 2vh;
                border: none;
                box-shadow: 0px 0px 10px grey;
            }
        }
    }
}